*,
*::before,
*::after {
    box-sizing: border-box;
}

body{
    font-family: "Roboto",sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0;
}
/* common */

.container {
   max-width: 1158px;
   padding: 0 15px;
   margin: 0 auto;
}


.root {
   --iris: #4d5ae5;
   --ocean: #404bbf;
   --navy-blue: #2e2f42;
   --green: #31d0aa;
   --slate: #434455;
   --light-slate: #8e8f99;
   --cornflower: #e7e9fc;
   --cloud: #f4f4fd;
   --navy-blue-modal: rgba(46, 47, 66, 0.4);
   --grey: rgba(46, 47, 66, 0.7);
   --white: #fff;
   --dairy: #fcfcfc;
}

ul, ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
   
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
    }

    .visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
  }

a { 
text-decoration: none;
}

img {
   display: block;
   max-width: 100%;
}

/* header */

.page-header {
   border-bottom: 1px solid #e7e9fc;
   display:flex;
   align-items: center;
   box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-nav{
   background: #fff;
    display: flex;
    align-items: center;
    height: 72px;
}

.nav-list {
   display: flex;
   align-items: center;
   gap: 40px;
}

.nav-link.current{
position: relative;
}

.nav-link.current ::after {
   content: "";

   position: absolute;
   left: 0;
   bottom: -1px;
   background-color: #404bbf;
   border-radius: 2px;
   width: 100%;
   height: 4px;
}

.contacts-list {
   display: flex;
   align-items: center;
   gap: 40px;
}

.header-container {
   display: flex;
   align-items: center;
   width: 1158px;
}

.top-logo {
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}

.header-logo {
   margin-right: 76px;
}

.logo-color-tittle {
   color: #2e2f42;
}

.header-logo .logo-part {
   display: block;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus
.nav-link.current  {
   color: #404bbf;
}

.nav-link{
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   padding: 24px 0;
   display: block;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   color: #2e2f42;
}

.contacts {
   font-style: normal;
   margin-left: auto;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-list:hover,
.contacts-list:focus {
   color: #404bbf;
}

.contacts-link {
   display:block ;
   padding: 24px 0;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.top-tittle {
   display: block;
   max-width: 496px;
   height: 120px;
   font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff;
   margin-bottom: 48px;
   margin-right: auto;
   margin-left:auto;
}

.section-hero {
   background-color: #2e2f42;
   background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   display: flex;
   align-items: center;
   padding: 188px 0;
   max-width: 1440px;
   margin: 0 auto;
}

.top-container{
   width: 1158px;
   margin: 0 auto;
}

.button-servise {
   display: block;
   margin: 0 auto;
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #ffffff;
   cursor: pointer;
   background: #4d5ae5;
   padding: 16px 32px;
   border-radius: 4px;
   padding: 16px 32px;
   min-width: 169px;
   height: 56px;
   align-items: flex-start;
   justify-content: flex-start;
   flex-direction: row;
   gap: 10px;
   border: none;
   transition: background-color 250ms cubic-bezier(0.4, 0.2, 1);
}

.button:hover,
.button:focus {
   background-color: #404BBF
}

.section-info{
   padding: 120px 0;
   padding: 120px 0;
}

.wrapper-text{
   width: 1158px;
}

.points-list {
   display: flex;
   align-items: flex-start;
   gap: 24px;
}

.points{
   font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.points-text{
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    flex-basis: calc((100% - 72px) / 4);
}

.icons-item {
   display: flex;
   align-items: center;
   justify-content: center;
   border: 1px solid #8e8f99;
   border-radius: 4px;
   width: 264px;
   height: 112px;
   background-color: #f4f4fd;
   margin-bottom: 8px;
   }

.paragraph-text{
   font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team {
   padding-top: 120px;
   padding-bottom: 120px;
   background-color: #f4f4fd;
}

.tittle-team {
   font-weight: 700;
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: #2e2f42;
   margin-bottom: 72px;
}

.staff-item{
   display: flex;
    align-items: center;
    gap: 24px;
    margin: 0;
}

.staff-list{
   background: #fff;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    flex-basis: calc((100% - 3 * 24px) / 4);
    background: #fff;
}

.text-img {
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 8px;
   padding-top: 32px;
   padding-bottom: 32px;

}

.name-list{
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   text-align: center;
   color: #2e2f42;
   margin-bottom: 8px;
}

.paragraph-text{
   font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.social-list {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 24px;
}

.team-social-link {
   width: 40px;
   height: 40px;
}

.social-link-list {
   width: 100%;
   height: 100%;
   background-color: #4d5ae5;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-list:hover,
.social-link-list:focus {
   background-color: #404BBF;
}

.social-svg {
   fill: #f4f4fd
}

.portfolio{
   padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
}

.list-text-portfolio{
   margin-bottom: 72px;
   align-items: center;
   text-align: center;
}

.portfolio-list{
   display: flex;
    align-items: center;
    gap: 24px;
    row-gap: 48px;
    margin: 0;
    flex-wrap: wrap;
}

.wrap{
   border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
    padding: 32px 16px;
    width: 360px;
    height: 120px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.wrap-portfolio{
   background: #fff;
   width: calc((100% - 48px) / 3);
}

.portfolio-tittle{
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2e2f42;
   margin-bottom: 8px;
}

.paragraph-text{
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   line-height: 24px;
   letter-spacing: 0.02em;
   color: #434455;
}

.footer{
   background: #2e2f42;
    padding: 100px 0;
}

.container-footer{
width: 1158px;
height: 112px;
padding: 0 15px;
margin: 0 auto;
}

.footer-logo .logo-part{
   color: #f4f4fd;
}

.footer-logo{
   display: inline-block;
   align-items: center;
   justify-content: flex-start;
   flex-direction: row;
   gap: 0px;
   margin-bottom: 16px;
}

.logo-part{
   color: #f4f4fd;
   display: inline-block;
}

.footer-text{
   display: block;
   font-weight: 400;
   font-size: 16px;
   line-height: 24px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #f4f4fd;
   max-width: 264px;
}